{% extends "base.html" %}
{% load static %}

{% block title %}
     List of Users
{% endblock %}

{% block css_files %}{% endblock %}

{% block content %}
    
    <div class="container" style="background-color: white;" >
        <div class="row m-5">
            <div class="col-md-12" style="margin-top: 5rem">
                <h2 style="background-color: #1FCECB;; color:rgb(8, 8, 51); padding: 1rem;">CV Database Profile List</h2>
            </div>
        </div>

        {% for profile in profiles %}
        <div class="row">
            <div class="col-md-7" style="color: Navy; font-weight: bold;">
             {{profile.id}} - {{profile.name}}
            </div>
            <div> {{profile.email}} </div>
            <div class="col-md-7 ">
                <a href= "{% url "viewing" profile.id %}" class="btn btn-warning float-end"> View Your Details</a>
            </div>
        </div>  
        <hr>  
    {% endfor %}

    </div>
{% endblock %}