{% extends "base.html" %}
{% load static %}

{% block title %}
    C.V generator Website
{% endblock %}

{% block css_files %}{% endblock %}

{% block content %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> {% endcomment %}
    
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
                <h2>CV Database Profile List</h2>
            </div>
        </div>

        {% for profile in profiles %}
        <div class="row">
            <div class="col-md-6">
                {{profile.name}}
            </div>
            <div class="col-md-6">
                <a href="/{{profile.id}}"class="btn btn-warning">Download CV</a>
            </div>
        </div>  
        <hr>  
        {% endfor %}
    </div>
{% endblock %}