<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% comment %} <link rel="stylesheet" href="../Resume/style.css"> {% endcomment %}
   <style>
        .* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>

<body style="  background-color: lightblue;
display: flex;
justify-content: center;
align-items: center;
{% comment %} min-height: 100vh; {% endcomment %}
">

    <div style="position: relative;
    width: 100%;
    {% comment %} max-width: 1000px;
    min-height: 1000px; {% endcomment %}
    background: #fff;
    {% comment %} margin: 10px; {% endcomment %}
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);">
        <div style="position: relative;
        background: #003147;
        padding: 40px;">
            <div style="position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);">
                <div style=" position: relative;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;">
                   <img src="{{ user_profile.profile_image.url }}">
                   {% comment %} " alt="" style=" top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;" {% endcomment %}
                    {% comment %} <img src="../Resume/image/samuel-raita-RiDxDgHg7pw-unsplash.jpg" alt="profile-image"> {% endcomment %}
                </div>
                <h2 style="color: #fff;
                font-size: 1.5rem;
                margin-top: 20px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                line-height: 1.4em;">{{user_profile.name}}<br><span style=" font-size: 0.8e;
                font-weight: 300;">Web Developer</span></h2>
            </div>

            <div style="padding-top: 40px;">
                <h3 style="color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 20px;">Content Info</h3>
                <ul style="position: relative;">
                    <li style="position: relative;
                    list-style: none;
                    margin: 10px 0;
                    cursor: pointer;">
                        <span style="display: inline-block;
                        width: 30px;
                        font-size: 18px;
                        color: #03a9f4;"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span style=" color: #fff;
                        font-weight: 300;">{{user_profile.phone}}</span>
                    </li>
                    <li>
                        <span style="display: inline-block;
                        width: 30px;
                        font-size: 18px;
                        color: #03a9f4;"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span style=" color: #fff;
                        font-weight: 300;">{{user_profile.email}}</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                        <span class="text">www.github.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                        <span class="text">www.linkedin.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="text">{{user_profile.locality}}, {{user_profile.city}}, {{user_profile.state}}</span>
                    </li>
                </ul>
            </div>

            <div class="contactInfo">
                <h3 class="title">Education</h3>
                <ul>
                    <li>

                    </li>
                </ul>
            </div>

        </div>


        <div style="position: relative;
        background: #fff;
        padding: 40px;"></div>
    </div>
</body>

</html>












{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Generator</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <h2>{{user_profile.email}}</h2>
    <h2>{{user_profile.phone}}</h2>
    <hr/>
    <br/>
    
    <p>Summary</p>
    <p>{{user_profile.summary}}</p>
    <hr/>
    <p>Skills</p>
    <p>{{user_profile.skills}}</p>
    <hr/>
    <p>Education</p>
    <ul>
        <li>Schooling: {{user_profile.school}}</li>
        <li>{{user_profile.degree}} from{{user_profile.university}}</li>
    </ul>
    <hr/>
    <p>Previous Work</p>
    <p>{{user_profile.previous_work}}</p>
</body>
</html> {% endcomment %}




