{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Logout User
{% endblock %}

{% block content %}

<div class="container" style="background-color:  wheat; height:100vh ; padding: 2rem; ">
    
    <div class="content-section"; "margin-top: 4rem; ">   
        <h1 style="background-color:pink; margin-bottom : 3rem;">You have been logged out</h1>
        <div class="border-top pt-3">
                <button class="btn btn-warning" type="submit">
                <a class="ml-2" href="{% url 'login' %}">Log In Again</a>

            </button>
            <a href="{% url "list" %}" class="btn btn-success float-end "> Back </a>
        </div>
    <div>
{% endblock %}