{% extends "base.html" %}

{% block title %}
    Register User
{% endblock %}

{% block css_files %}{% endblock %}

{% block content %}
<div class="container" style="background-color:  white; height:80% ; padding: 1rem; width:70%">
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="background-color: #1FCECB; padding:1.5rem; font-weight: bold; text-align: center;">User Registration Form</legend>

                <div class="alert alert">{{ form.errors }}</div>

                <div style="margin:1.5rem; font-weight:bold;">
                    {{ form.username.label }}
                    {{ form.username }}<br><br>
                    {{ form.email.label }}
                    {{ form.email }}<br><br>
                    {{ form.password1.label }}
                    {{ form.password1 }}<br><br>
                    {{ form.password2.label }}
                    {{ form.password2 }}<br><br>
                </div>
            </fieldset>

            <div class="form-group">
                <button class="btn-outline-info" type="submit">Sign Up </button>
            </div>
        </form>
        <div class=" pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" style="color:#1FCECB; font-weight:bold;" href="{% url 'login' %}">Sign In </a>
            </small>
        </div>    
    </div>
</div>

{% endblock %}