{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "app.css" %}" />
    {% block css_files %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static "image/Resume.png"%}" style="height: 55px; width: 200px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active "aria-current="page" href="{% url "accept" %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " aria-current="page "href="{% url "list" %}">Profile List</a>
            </li>
             
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-but">
              <a class="btn btn-outline-light" href="">SignUp</a>
            </li>
            <li class="nav-but">
              <a class="btn btn-outline-light" href="#">LogIn</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <section >
      <div class="backgroundi">
      {% block content %}
    {% endblock %}</div>
    </section>
    
    
    {% comment %} <footer>
      <div class="container" style="padding: 30px 0; " align="center">
          <a href="#" style="padding: 14px;">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a href="#" style="padding: 14px;">
                  <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
              </a>
              <a href="#" style="padding: 14px;">
                      <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>
                  <a href="#" style="padding: 14px;">
                          <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                      </a>
                      <a href="#" style="padding: 14px;">
                              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                          </a>
                          <a href="#" style="padding: 14px;">
                                  <i class="fa fa-pinterest fa-lg white-text"></i>
                              </a>
      </div>
      <div style="background: rgb(8, 8, 51);">
          <p style="color: white; padding: 15px 0;" align="center">
              &copy; 2023 Copyright: <a href="mailto:kajal1307@gmail.com">Created By: Kajal Yadav</a>
          </p>
      </div>
  </footer> {% endcomment %}
  </body>
</html>

