{% extends "base.html" %}
{% load static %}

{% block title %}
    Deleted User
{% endblock %}

{% block css_files %}{% endblock %}

{% block content %}
<div class="container" style="background-color:  wheat; height:100vh" >
    <div class="row m-5" style="height:100vh;">
        <div class="col-md-12 " >
        <h1 style=" margin-top : 4rem; background-color: white "> Info of Deleted user </h1>
        </div>
    <div class="row m-5" style="height:100vh;">
        <form method="POST">
            {% csrf_token %}
            <h2 style="color:indigo;font-weight:; margin-bottom:2rem;">Are you sure you want to delete <b>{{ review.name }}'s </b> Resume</h2>

            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
    </div>
</div>  
{% endblock %}
