{% extends "base.html" %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}


{% block content %}


<div class="row justify-content-center mt-7 " style=" margin: auto; width: 90%; height:60">
        <div class="col-md-7 text-center" style="margin-top:4rem;">
            {% comment %} rgb(1, 1, 32) {% endcomment %}
            <h1 style="color:lightred; font-size:3rem; font-weight:bold; text-shadow:5px 5px 8px white;"> Crafting Your Career Narrative with Ease!
            </h1>
            <br>
            <p style="color:#303030; font-size:1.2rem; font-weight:bold;">Try our resume builder now for free. Our online resume builder offers a quick and easy way to create your professional resume. At EZResume, we believe that your journey toward career success should begin with a resume that truly reflects your unique skills and achievements. Our user-friendly platform ensures that the process is not only efficient but also effortless. </p>
            <a role="button" class="btn btn btn-lg" style="background-color:rgb(1, 1, 32); font-size:1.5rem; margin-top:2rem; color:white;" href="{% url 'accept' %}">Create My Resume Now</a>
        </div>
    </div>

{% endblock %}