{% extends "base.html" %}
{% load static %}

{% block title %}
    Information of Individual User
{% endblock %}

{% block css_files %}{% endblock %}

{% block content %}
<div class="container" style="background-color: skyblue; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; width:70%;" >
    <div class="row m-5">
        <div class="col-md-12 " >
        <h1 style=" margin-top : 2rem; background-color: white; color: navy; font-weight:bold; text-align:center;"> Information of Individual User</h1>
    </div>
   
        <div class="row">
            <div class="col-sm-10 shadow p-5 offset-sm-1" style="background-color: white ; margin-top: 1rem; margin-bottom:2rem;">
                <h3 class="text-center" style="font-weight:bold;"><u>Checkout Your Resume</u></h3>
                <br/>
                <p class="float-end" style="color:maroon; font-weight:bold">Application No: {{ Visitor.id }}</p>
              
                <img src="{{ Visitor.profile_image.url }}" alt="" class="img-fluid img-thumnail float-end mt-2" width="150" height="150">

                <h3 style="font-weight: bold;color:maroon;">Name of Candidate : {{ Visitor.name}}</h3>
                <p ><b>Gender : </b>{{ Visitor.gender}}</p>
                <h4 > {{ Visitor.profession}}</h4>
                <br><br>
                <br>
                <hr/>
                <h4 style="color:maroon; font-weight:bold">Personal Detail</h4>
                <p style="overflow-wrap: anywhere;"><b>Address :</b> {{ Visitor.locality}}, {{ Visitor.city}} , {{ Visitor.state}}</p>
                <p><b>E-mail Id : </b>{{ Visitor.email}}</p>
                <p ><b>Contact No. : </b>{{ Visitor.phone}}</p>
                <p><b>Date of Birth : </b>{{ Visitor.dob}}</p>
                <p style="overflow-wrap: anywhere;"><b>Linkedin-Profile : </b>{{ Visitor.linkedin_link}}
               
                <br/><br/>
                <hr/>

                <h4><b>About Yourself : </b></h4>
                <p style="overflow-wrap: anywhere;">{{Visitor.summary}}</p>
                <br>
                <hr/>
                {% if Visitor.previous_work %}
                <h4><b>About Your Experience :</b> </h4>
                <p style="overflow-wrap: anywhere;">{{Visitor.previous_work}}</p>
                <br>
                <hr/>
                {% endif %}
                <h4><b>Education : </b></h4>
                <ul>
                    <li><b>Schooling:</b> {{Visitor.school}}</li>
                    <br>
                    <li><b>Graduation :</b>  {{Visitor.degree}} <b>from </b><p style="overflow-wrap: anywhere;">{{Visitor.university}}</p></li>
                </ul>

                <hr/>
                <h4><b>About Your Skills</b></h4>
                <p style="overflow-wrap: anywhere;">{{Visitor.skills}}</p>
                <br>
                <hr/>
                <h4><b> Your Certificates</b></h4>
                <p style="overflow-wrap: anywhere;">{{Visitor.certificate}}</p>
                <br>
                <hr/>
                <h4><b>Your Interests : </b></h4>
                <p style="overflow-wrap: anywhere;">{{Visitor.Interest}}</p>
                <br>

                <div class="col-md-6">
                    <a href="{% url "resume" Visitor.id %}" class="btn btn-warning">Download CV</a>
                </div>
                <div>
                    <a href="{% url "list" %}" class="btn btn-success float-end "> Back </a>

                    <a href="{% url "deleteform" Visitor.id %}" class="btn btn-danger float-end ms-3 me-3"> Delete </a>

                    <a href="{% url "update" Visitor.id %}" class="btn btn-primary float-end"> Edit </a>
                    
                </div>
            </div>
        </div>
</div>  
{% endblock %}

